*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100%;
    height:100vh;

    overflow:hidden;

    font-family:Arial,sans-serif;

}


.night{

    width:100%;
    height:100%;

    background:
    linear-gradient(
        #07152e,
        #02050f
    );

    position:relative;

    overflow:hidden;

}



/* AY */

.moon{

    position:absolute;

    top:60px;
    right:90px;

    width:130px;
    height:130px;

    background:#fff4c7;

    border-radius:50%;

    box-shadow:
    0 0 40px #fff4c7;

}



/* YILDIZ ALANI */

.stars{

    position:absolute;

    width:100%;
    height:100%;

}


/* KEDİ */

.cat{

    position:absolute;

    bottom:80px;

    left:40%;

    width:180px;

    height:170px;

}



/* GÖVDE */

.body{

    position:absolute;

    bottom:0;

    left:30px;

    width:120px;

    height:100px;

    background:#d89b6a;

    border-radius:
    50% 50% 40% 40%;

}



/* YU */

.yu{

    position:absolute;

    top:35px;

    left:50%;

    transform:translateX(-50%);

    color:white;

    font-weight:bold;

    font-size:22px;

}



/* KAFA */

.head{

    position:absolute;

    top:0;

    left:35px;

    width:110px;

    height:90px;

    background:#e8b17d;

    border-radius:50%;

}



/* KULAK */

.ear{

    position:absolute;

    top:-15px;

    width:35px;

    height:35px;

    background:#e8b17d;

    transform:rotate(45deg);

}



.ear.left{

    left:5px;

}


.ear.right{

    right:5px;

}



/* GÖZLER */

.eye{

    position:absolute;

    top:35px;

    width:12px;

    height:12px;

    background:#111;

    border-radius:50%;

}


.eye.left{

    left:30px;

}


.eye.right{

    right:30px;

}



/* BURUN */

.nose{

    position:absolute;

    bottom:25px;

    left:50%;

    transform:translateX(-50%);

    width:10px;

    height:8px;

    background:#ff8fa3;

    border-radius:50%;

}



/* KUYRUK */

.tail{

    position:absolute;

    bottom:20px;

    right:0;

    width:80px;

    height:25px;

    background:#d89b6a;

    border-radius:50%;

    transform:rotate(25deg);

}
.star{

    position:absolute;

    width:4px;

    height:4px;

    background:white;

    border-radius:50%;

    animation:
    shine 2s infinite alternate;

}


@keyframes shine{

    from{

        opacity:.2;

        transform:scale(.8);

    }


    to{

        opacity:1;

        transform:scale(1.5);

    }

}
